@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
$primary-color: #ff8200;

.main {
    background-color: #F6F4F1;
    font-family: "Inter", serif;
}

.title {
    color: #1e1c1b;
    font-size: 32px;
}

.subtitle {
    color: #1e1c1b;
    font-size: 24px;
}

.title-bold {
    color: #1e1c1b;
    font-size: 32px;
    font-weight: 600;
}

.primary-button {
    background-color: $primary-color !important
}